@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

/* todo: change background! */
.speaker-section {
    background-color: #121313;
}

.row-speakers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin: 32px; */
}

.speaker-row-item{
    flex-basis: 50%;
}

.card {
    min-width: 300px;
    margin: 20px;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    /* background-color: rgba(255, 255, 255, 1); */
    background: var(--dark-grey);
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
}

.card[data-state="#about"] {
    .card-main {
        padding-top: 0;
    }
}

.card-header {
    position: relative;
    display: flex;
    height: 265px;
    flex-shrink: 0;
    width: 100%;
    transition: 0.3s;

    * {
        transition: 0.3s;
    }
}

.card-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    height: 160px;
    top: -20%;
    left: 0;
    will-change: top;
    background-size: cover;
    background-position: center;
    filter: blur(30px);
    transform: scale(1.2);
    transition: 0.5s;
}

.card-avatar {
    width: 150px;
    height: 150px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-74px);
}

.card-fullname {
    position: absolute;
    bottom: 0;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    transform: translateY(-35px) translateX(-50%);
    left: 50%;
    color: azure;
}

.card-jobtitle {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    white-space: nowrap;
    font-weight: 700;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-5px);
    color: #636b6f;
}

.card-main {
    position: relative;
    flex: 1;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
}

.card-subtitle {
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 8px;
    color: aliceblue;
}

.card-content {
    padding: 20px;
}

.card-desc {
    line-height: 1.6;
    color: #636b6f;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    min-height: 315px;
}

.toggle-btn{
    display: none;
}

.card-social {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;
}

.card-social svg {
    fill: rgb(165, 181, 206);
    width: 16px;
    display: block;
    transition: 0.3s;
}

.card-social a {
    color: #8797a1;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background-color: rgba(93, 133, 193, 0.05);
    border-radius: 50%;
    margin-right: 10px;
}

.card-social a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.card-social a:hover svg {
    fill: white;
}

.card-social a:last-child {
    margin-right: 0;
}


.card-section {
    display: none;

    &.is-active {
        display: block;
        animation: fadeIn 0.6s both;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translatey(40px);
    }

    100% {
        opacity: 1;
    }
}

/* Media query for devices with a maximum width of 768 pixels */
@media only screen and (max-width: 768px) {
    .row-speakers {
        flex-direction: column;
        margin: auto;
    }
    .card-fullname {
       
        font-size: smaller;
        
    }
    .card-jobtitle{
        font-size: x-small;
    }
    .toggle-btn{
        display: block;
    }
    .expand{
        display: none;
    }
    .card-desc{
        min-height: 100px;
    }
}