/* =Common Styles
-------------------------------------------------------------- */

:root {
    --red: #C10206;
    --carmine: #A50113;
    --floral-white: #FFFBF2;
    --chinese-white: #DFE2DB;
    --raisin-black: #211D21;
    --rich-black: #121313;
    --dark-grey: #212024;
    --footer-grey: #101011;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--rich-black);
    color: var(--floral-white);
    font: normal 16px "Cardo", georgia, serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    overflow: hidden;
}

.odd-section {
    background: var(--dark-grey);
    text-align: center;
    overflow: hidden;
    margin: auto;
    /* display: flex; */
    width: 100%;
    /* height: 90vh;  */
    position: relative;
    /* justify-content: center; */
    border-radius: 10px;
}

::selection,
::-moz-selection {
    background: #272727;
    color: #fff;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-family: "Montserrat", arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1em;

}

h2,
h3,
h4 {
    /* color: var(--red); */
    font-family: "Montserrat", arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1em;
    text-align: center;
}

h2 {
    font-family: "Cardo", georgia, serif;
    line-height: 1.7em;
}

h3 {
    font-size: 16px;
    font-family: "Montserrat", arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1em;
    text-align: center;
}

h4 {
    color: #777777;
    font-size: 9px;
}

p {
    font-size: 20px;
    line-height: 1.7em;
}

/* Content Styles */
.relative {
    position: relative;
}

.center-mobile,
.center {
    text-align: center;
}

.h2 {
    padding: 20px 0 0;
}

h3 {
    padding: 15px 0 10px;
}

h4 {
    padding-bottom: 15px;
}

p {
    margin: 10px 0;
}

.text-acent{
    color:var(--red);
}

.padded,
.padded-top,
.padded-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}

.block {
    margin-bottom: 20px;
}

.list {
    padding-top: 30px;
    margin-bottom: 45px;
}

.line {
    background: var(--carmine);
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 4px;
    margin-top: 10px;
}

.line.no-accent {
    margin-top: 15px;
    margin-bottom: 15px;
    background: #e0e0e0;
}

.separator {
    position: absolute;
    display: none;
    width: 1px;
    height: 100%;
    background: #e0e0e0;
    top: 0;
    left: 50%;
}

.icon {
    background: #72e0eb;
    font-size: 64px;
    line-height: 64px;
}

/* Hero */
#hero {
    background: var(--dark-grey);
    text-align: center;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 98vh;
    position: relative;
    justify-content: center;
}

/* Call to Action */
#action {
    width: 110px;
    height: 110px;
    background: url(../images/arrow-circle-down.svg) no-repeat center bottom;
    background-size: 110px 110px;
    display: inline-block;
    position: absolute;
    bottom: 10%;
    opacity: .5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* Animation */
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -ms-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite;
    animation: bounce 1.5s infinite;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

#action:hover {
    opacity: 1;
}

.intro{

}

/* Background */
.background {
    background: url(../images/dbcedreambig.JPG) no-repeat 50% 100%;
    bottom: -20px;
    background-size: cover;
    position: absolute;
    width: 110%;
    left: -5%;
    top: -5%;
}

.row {
    justify-content: space-around;
}
section {
    overflow: hidden;
}

.odd-section {
    background: var(--dark-grey);
    text-align: center;
    overflow: hidden;
    margin: auto;
    /* display: flex; */
    width: 100%;
    /* height: 90vh;  */
    position: relative;
    /* justify-content: center; */
    border-radius: 10px;
}

.row {
    justify-content: space-around;
}
.sponsor-logo-row{
    display: flex;
    flex-direction: row;
    max-width: inherit;
}
.sponsor-logo{
    flex-basis: 50%;
    max-width: 50vw;
    max-height: 25vh; 
}

/* Media query for devices with a maximum width of 768 pixels */
@media only screen and (max-width: 768px) {
    .sponsor-logo-row {
        flex-direction: column;
        /* margin: auto; */
        justify-content: space-around;
        text-align: center;
    }
    .sponsor-logo{
        object-position: center;
        text-align: center;
    }
}

/* Footer */
.copyright {
    font-size: 9px;
    color: #777777;
    font-family: "Montserrat", arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.5em;
}

.footer {
    background-color: var(--footer-grey);
}

/* Animations */
@keyframes bounce {

    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

/* Responsive Styles */

/* Media query for devices with a maximum width of 768 pixels */
@media only screen and (max-width: 768px) {
    .intro{
        font-size: smaller;
        padding: 10px;
        padding-bottom: 0;
    }
}

/* Tablet Portrait */
@media all and (min-width: 700px) {
    .center-mobile {
        text-align: left;
    }

    .separator {
        display: block;
    }

}

/* Web HD */
@media all and (min-width: 1200px) {
    h3 {
        padding: 25px 0 10px;
    }

    h4 {
        padding-bottom: 25px;
    }

    p {
        margin: 20px 0;
    }

    .padded {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .padded-top,
    .padded-bottom {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .block {
        margin-bottom: 30px;
    }

    .list {
        padding-top: 30px;
        margin-bottom: 65px;
    }

    .line.no-accent {
        margin-top: 30px;
    }
}

/* Glimpses Section */

.thumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
    /* for demo: */
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* border: 1px solid #ccc; */
    margin: 10px auto;
    resize: both;
}

/* last row overstretch fix */
.thumbs:after {
    content: "";
    flex: 100 0 auto;
}

.thumb {
    position: relative;
    display: inline-block;
    flex: 1 0 auto;
    /* width: auto;
    height: 220px; */
    margin: 2px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.50);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    transition: box-shadow 300ms, transform 400ms, z-index 400ms, background-position 400ms;
    z-index: 1;
}

.thumb:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
    transform: scale(1.2, 1.2);
    z-index: 100;
}

.thumb-img>img,
.thumb-txt>div {
    min-width: 60px;
    max-width: 300px;
}

.thumb-img {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.thumb-img:hover {
    animation-name: thumb-scroll;
    animation-delay: 400ms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.thumb-img>img {
    display: block;
    height: 100%;
    opacity: 0;
}

@keyframes thumb-scroll {

    15%,
    35% {
        background-position: 0% 0%;
    }

    65%,
    85% {
        background-position: 100% 100%;
    }
}

.thumb>div {
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 0px 2px;
    overflow: hidden;
}

.thumb>div>span {
    display: block;
}

.thumb>div>span:first-child {
    font-weight: bold;
}

.thumb>div>span:last-child {
    font-size: 0.8em;
}

.thumb-img>div {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.30);
    opacity: 0;
    transition: opacity 300ms;
}

.thumb-img>div>span {
    font-size: 0.8em;
}

.thumb-img:hover>div {
    opacity: 1;
}

.thumb-txt>div {
    display: block;
    width: auto;
    height: 100%;
}

/* end */

/* glimpses section 2 */
#footer-wrapper {
    clear: both
}

.clear {
    clear: both
}

.footer_photostream_wrapper {
    margin-top: 20px;
    text-align: center
}

.footer_photostream {
    margin-top: 20px
}

.ri-grid {
    margin: auto;
    position: relative;
    max-height: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    overflow: hidden
}

.ri-grid.visible {
    max-height: 100%
}

.ri-grid ul {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.ri-grid ul:before,
.ri-grid ul:after {
    content: '';
    display: table
}

.ri-grid ul:after {
    clear: both
}

.ri-grid ul {
    zoom: 1
}

.ri-grid ul li {
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -o-perspective: 400px;
    -ms-perspective: 400px;
    perspective: 400px;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
    background: #000;
    width: 0;
    height: 0
}

.ri-grid ul li a {
    display: block;
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #333;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.ri-grid-size-1 {
    width: 55%
}

.ri-grid-size-2 {
    width: 100%
}

.ri-grid-size-3 {
    width: 100%;
    margin-top: 0
}

.ri-grid-loading:after,
.ri-grid-loading:before {
    display: none
}

.ri-grid-loading .ri-loading-image {
    position: relative;
    left: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    text-align: center
}
/* end */

/* register button */

